<div class="logging-in centered">
  <h1>Log In</h1>

  <% if flash[:errors] %>
    <ul class="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <form method="post" action="<%= session_url %>">
  <%= form_token %>
    <div class="input group">
      <label for="username_email">Username or Email: </label>
      <input type="text"
        id="username_email"
        name="user[username_email]"
        value="<%= @username_email %>">
    </div>

    <div class="input group">
      <label for="Password">Password: </label>
      <input type="password"
        id="Password"
        name="user[password]">
    </div>

    <div class="input group">
      <input type="submit" value="Sign In" class="btn btn-default login-button">
    </div>
  </form>

  <br>
  <a href="<%= new_user_url %>" class="btn btn-default">Sign Up</a>
  <a href="/" class="btn btn-default">Back to Site</a>
  <br>

  <button type="button"
    id="guest-log-in"
    class="btn btn-default">Guest Login</button>



  <script type="text/javascript">
    guestLogin =  function(event){
      var that = this;
      $username = $('#username_email');
      $password = $('#Password');
      $submitButton = $('.login-button');
      $username.val('');
      $password.val('');
      this.slowtype($username, 'guest@musicmastrmind.com', function(){
        that.slowtype($password, 'passwordpassword', function(){
          $submitButton.click();
        });
      });
    },
    slowtype = function($el, word, callback){
      var typing = setInterval(function(){
        $el.val( $el.val() + word.slice(0,1) );
        word = word.substr(1);
        if (!word){
          clearInterval(typing);
          callback();
        }
      }, 50);
    }

    $("#guest-log-in").on('click', guestLogin.bind(this))
  </script>

  <% if @guest %>
    <script type="text/javascript">
      guestLogin();
    </script>
  <% end %>

</div>
