<% if (song.isNew()) { %>
  <h3>New Song</h3>
<% } else { %>
  <h3>Edit Song</h3>
<% } %>


<ul class="song-form-errors"></ul>
<form class="song-new-form">
  <label>
    Song Title *<br/>
    <input type="text"
      class="song-new-form-name"
      name="input[song][title]"
      value="<%= song.escape("title") %>">
  </label>
  <br/>

  <label>
    Artist *<br/>
    <input type="text"
      name="input[song][artist_name]"
      value="<%= song.escape("artist_name") %>">
  </label>

  <% song.lines().each( function(line, index) { %>
    <br/>
    <label>
      Line <%= index + 1 %><br/>
      <textarea name="input[lines][<%= index %>][body]"><%= line.escape("body") %></textarea>
    </label>
    <button type="button"
      data-line-id="<%= index %>"
      class="song-line-delete btn btn-default">Delete Line
    </button>

  <% }) %>
  <br/>
</form>

<div class="line-new"></div>

<br/>
<button type="button" class="song-form-submit btn btn-default">Create Song</button>
