<div class="song-primary">
  <div class="song-info-header">
    <span class="song-header-title"><%= song.escape('title') %></span>
    <br/>
    <span class="song-header-artist"><a href="#/artists/<%= artist.id %>"><%= artist.escape('name') %></a></span>
    <% if (song.escape('writer')) { %>
      <span class="song-header-writer">(Writen By <%= song.escape('writer') %>)</span>
    <% } %>
  </div>

    <div class="song-lyrics-by">lyrics by <%= creator.escape('username') %> <abbr class="timeago song-created_at"
      title="<%= song.escape('created_at') %>"
      ><%= song.escape('created_at') %></abbr></div>
  <ul class="lines">
    <% song.lines().each(function (line) { %>
      <li>
        <div class="song-lyric" data-line-id="<%= line.escape('id') %>"><%= line.escape('body') %></div>
      </li>
    <% }); %>
  </ul>
</div>

<div class="line-show"></div>
